pytest==7.4.2
pytest-cov==4.1.0
tqdm==4.66.1

# Linters / formatters / type checkers
flake8==6.1.0
black==24.1.0
isort==5.12.0
mypy==1.9.0

# pre-commit framework
pre-commit==3.4.0

# llama
llama-index-embeddings-huggingface==0.6.1
llama-index-llms-ollama==0.9.1
llama-index-readers-file==0.5.6
